.post {
    width: 440px; 
    height: 120px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 20px;
}

.post-setup {
    font-weight: bold;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.input-post {
    border: 1px solid rgb(112, 111, 111);
    border-radius: 10px;
    width: 280px;
}

.post-icon {
    margin-top: 6px;
    color: rgb(114, 108, 108);
}

.post-btn {
    margin: 6px;
    color: rgb(27, 27, 206);
    font-weight: bold;
    background-color: transparent;
}

.post-photo {
    display: flex;
    justify-content: center;
}

.post-photo>button {
    background-color: none;
}

.photo-icon {
    margin: 17px 5px;
}


.post-message {
    text-align: left;
}