.user-details {
    width: 200px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #a5a4a4;
    margin-top: 20px;
}

.user-img {
    width: 200px;
    height: 100px;
    border-radius: 20px 20px 0 0;
}

.user-name {
    margin-top: -32px;
    margin-bottom: -20px;
    font-weight: 600;
    font-size: 1.3rem;
    color: #000;
}

.user-mail {
    color: #878787;
    font-weight: 600;
}

.user-stats {
    display: flex;
    justify-content: space-around;
}

.views {
    color: #878787;
    font-weight: 400;
}

