.trending {
    text-align: left;
    width: 250px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #a5a4a4;
    margin-top: 20px;
    padding: 5px 10px;

}

.trending-heading {
    font-weight: 500;
    margin-left: 10px;
}

.trending-news {
    margin-top: 20px;
    cursor: pointer;
}